@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');

html, body {
  height: 100%; /* Ensure both html and body take up full height */
  margin: 0; /* Remove default margin */
  font-family: 'Quicksand', Sans-Serif;
  overflow: hidden; /* Prevent scrollbars from appearing */
  transition: background 0.2s ease-out; /* Smooth transition for gradient change */
}

body {
  padding: 0;
  background-image: linear-gradient(45deg, #7DD5CB, #2CA6A4, #FF6F61, #D1C4E9); /* Default gradient */
  background-size: 400% 400%; /* Make the gradient larger for smoother movement */
}

.title {
  color: #000000;
  text-align: center;
  font-size: 2rem;
  margin-top: 20%;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
}

/* Styled Button */
.styled-btn {
  background: linear-gradient(45deg, #FF6F61, #D1C4E9);
  border: none;
  border-radius: 50px; /* Rounded corners */
  color: white;
  font-size: 16px;
  padding: 15px 30px;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease; /* Smooth transition for hover effects */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Adding a subtle shadow */
  outline: none;
}

/* Button Hover Effect */
.styled-btn:hover {
  background: linear-gradient(45deg, #FF6F61, #7DD5CB);
  transform: translateY(-5px); /* Lift the button slightly */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3); /* Darker shadow on hover */
}

/* Button Active Effect */
.styled-btn:active {
  transform: translateY(0); /* Bring the button back to original position */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Reset shadow on click */
}
